h5py==3.8.0
matplotlib==3.7.1
munkres==1.1.4
numpy==1.24.2
pandas==1.5.3
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
sklearn==0.0.post1
torch==1.13.1
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.15
torchaudio==0.13.1
torchvision==0.14.1

